<body>    
    <header class = "setting-title">
        <h3>設定</h3>
    </header>

    <nav class = "setting-content">
        <ul>
            <th><%= link_to "アカウント", user_path(@user)%></th>
            <th><%= link_to "プロフィール", profile_user_path(@user) %></th>
        </ul>
    </nav>

    <div class = "account-header">
        <h3>プロフィール</h3>
        <%= link_to "✏️編集", edit_profile_user_path(@user) %>
    </div>
    <div class = "account-view">
        <% if @user.present? %>
        <p>アイコン画像 <%= @user.avatar %></p>
        <p>名前 <%= @user.name %></p>
        <p>自己紹介 <%= @user.introduction %></p>
        <% else %>
        <p>ログインしてください</p>
        <% end %>
    </div>
</body>