<h2>新規登録</h2>

<%= form_with model: @room, local: true do |f| %>
  <% if @room.errors.any? %>
    <div>
      <h4><%= pluralize(@room.errors.count, "エラー") %>が発生しました:</h4>
      <ul>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= f.label :name, "施設名*" %><br>
    <%= f.text_field :name, placeholder:"ルーム名を入力" %>
  </div>

  <div>
    <%= f.label :description, "施設詳細*" %><br>
    <%= f.text_area :description, placeholder:"施設詳細を入力"%>
  </div>

  <div>
    <%= f.label :price, "料金*" %><br>
    <%= f.number_field :price, placeholder:"１日あたりの料金を入力" %>
  </div>

  <div>
    <%= f.label :address, "住所*" %><br>
    <%= f.text_field :address, placeholder:"住所を入力" %>
  </div>

  <div>
    <%= f.label :image, "施設画像" %><br>
    <%= f.file_field :image, placeholder:"画像をアップロードする"%>
  </div>

  <div>
    <%= f.submit "保存" %>
  </div>

  <div>
    <%= link_to "キャンセル", rooms_path %>
  </div>
<% end %>
